<div id = "body">
  <div id="header">
    <div class="headerproperties">VIDEO GAMES</div>
    <div class="headerproperties2">CONTACT</div>
  </div>
  <div id="content"  onload="loadData()">
      <div class="leftcontent"><app-sidepanel></app-sidepanel></div>

    <!--Center content starts here-->
      <div class="centercontent">
          <div class="innercontent" *ngFor="let item of apidata">
            <div class="picture" ></div>
            <div class="context">
              <h3>{{item.name}}</h3>
              <h4>Release Date:{{item.first_release_date | date:'dd/MM/yyyy'}}</h4>
              <h5>{{item.summary}}</h5>
            </div>
            <div class="rating">{{item.rating / 10 | number: '1.0-0'}}</div>
            <div style="clear: left;"></div>
            </div>
      </div>
  </div>
      <!--<div  class="centercontent" *ngFor="let item of apidata">
          <div class="picture"></div>
          <div class="context">
            <h3>{{item.name}}</h3>
            <h4>Release Date:{{item.first_release_date | date:'dd/MM/yyyy'}}</h4>
            <h5>{{item.summary}}</h5>
          </div>
          <div class="rating">{{item.rating / 10 | number: '1.0-0'}}</div>
          <div style="clear: left;"></div>
      </div>-->
 
  <div style="clear: left;"></div>
</div>